---
layout: default
title: Home
permalink: /
hero_title: About Us
hero_image: /assets/images/2025_06_21_Venvi_1.jpg
hero_alt: Hero Image
---

<hr />
<div class="content-container">
  <div class="corner-brackets">
    <p>
      Started June 2025 by two childhood friends, the Volunteer Performers Collective was created
      with the hopes of bringing others with a passion for music to places in need of entertainment!
      We provide youths with opportunities to deepen their interest in music in a supportive casual
      environment while also giving back to the community.
    </p>
    <div id="mission-links-container">
      <a href="#about" class="quick-link"><span>More About Us</span></a>
      <a href="{{ '/contact/' | relative_url }}" class="quick-link"><span>Contact Us</span></a>
      <a href="{{ '/volunteers/' | relative_url }}" class="quick-link"><span>Join Us</span></a>
    </div>
  </div>
</div>

<div class="content-columns-container">
  <div class="content-container video-container">
    <iframe
      src="https://www.youtube.com/embed/gnxH3Mfbp9k?si=K70mH2JO1oLqyfP7"
      title="YouTube video player"
      frameborder="0"
      allow="
        accelerometer;
        autoplay;
        clipboard-write;
        encrypted-media;
        gyroscope;
        picture-in-picture;
        web-share;
      "
      referrerpolicy="strict-origin-when-cross-origin"
      style="width: min(80%, 36rem); aspect-ratio: 14 / 8"
      allowfullscreen
    ></iframe>
    <hr />
    <p class="note">A solo over "Autumn Leaves" - Taken from one of our first performances</p>
  </div>

  <div class="content-container" id="latest-post-container">
    <h2><span>Latest Post/Performance</span></h2>
    {% for post in site.posts limit:1 %}
    <a href="{{ post.url | relative_url }}" id="latest-post-link" class="post-card">
      <div id="latest-post-card" class="post-card-image">
        <img
          id="latest-post-card-image"
          src="{{ post.hero_image | relative_url }}"
          post.hero_image
          |
          relative_url
          }}
        />
      </div>

      <div class="post-card-content">
        <div class="post-text-container">
          <h2>{{ post.title }}</h2>
          <p class="post-card-date">{{ post.date | date_to_string }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>

<hr />

<div class="content-container" id="image-hero">
  <div class="hero-title-container">
    <h1 id="about"><span>{{ page.hero_title }}</span></h1>
  </div>
  <div class="hero-image-container">
    {% if page.hero_image %}
    <img src="{{ page.hero_image | relative_url }}" alt="{{ page.hero_alt }}" />
    {% endif %}
  </div>
</div>

<div class="content-columns-container">
  <div class="content-container">
    <h2>Who Are We?</h2>
    <hr />
    <p>
      We are a small volunteer group based in <b>Calgary, Alberta, Canada</b>. As a group, our main
      goals are to share our love of music while also giving back to our community. Typically, this
      comes in the form of our main activity as a group.
    </p>
  </div>

  <div class="content-container">
    <h2>What Do We Do?</h2>
    <hr />
    <p>
      Currently, our main activity consists of <b>volunteer performances</b> at various care
      facilities in Northwest Calgary. At each performance, we typically play a short setlist of
      <b>jazz or traditional pop</b> songs for residents, staff, and anyone who would like to
      listen. In the future, we plan on doing more general music-related volunteering in our
      community.
    </p>
  </div>
  <div class="content-container">
    <h2>What Do We Do?</h2>
    <hr />
    <p>
      As a group, we are always looking for more volunteers! If you think you might be interested,
      consider checking out
      <a href="{{ site.baseurl }}{% link volunteers.md %}">our volunteer page</a>. Our performances
      are a very <b>low-stakes and casual</b> environment, and we will always welcome new
      volunteers, <b>regardless of experience level or skill</b>! Both vocalists and
      instrumentalists are welcome!
    </p>
  </div>

  <div class="content-container">
    <h2>Interested In Hosting Us?</h2>
    <hr />

    <p>
      Typically, we organize our performance schedule <b>monthly</b>. If you would like us to
      perform at your facility, see
      <a href="{{ site.baseurl }}{% link contact.html %}"> our contact page</a> for a list of ways
      to contact us. Our performances are, and always will be <b>completely free of charge!</b>
    </p>
  </div>
</div>

<hr />

<div class="content-container">
  <h2>Recent Blog Posts/Performances</h2>

  <div id="post-grid">
    {% for post in site.posts limit:3 %}
    <a href="{{ post.url | relative_url }}" class="post-card">
      <div class="post-card-image">
        <img src="{{ post.hero_image | relative_url }}" alt="{{ post.hero_alt | default: '' }}" />
      </div>
      <div class="post-card-content">
        <div class="post-text-container">
          <h2>{{ post.title }}</h2>
          <p class="post-card-date">{{ post.date | date_to_string }}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  <p class="note">More to come!</p>
</div>
