<footer id="footer" class="note">
  <div>
    <hr />
    <p class="note">
      <b>Disclaimer:</b>
      Please note that the mention or depiction of any care facilities on this website does not
      <br />
      imply any form of endorsement, sponsorship, partnership, or other formal affiliation unless
      explicitly specified.
    </p>
    <hr />
    <p class="note">
      This is the end of the page's content :)<br />
      <a href="{{ '/licensing/' | relative_url }}" class="note">Licensing</a> •
      <a href="{{ '/contact/' | relative_url }}" class="note">Contact Us</a> <br />
    </p>
  </div>
</footer>
