<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta charset="utf-8" />

<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}" />

<script src="{{ '/assets/js/theme_toggle.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/settings.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/reduce_motion.js' | relative_url }}" defer></script>
<script src="{{ '/assets/js/hamburger.js' | relative_url }}" defer></script>

<title>{{ page.title }} | Volunteer Performers' Collective</title>
