body {
  background-color: var(--bg);

  color: var(--fg);
  font-family: Georgia, serif;

  gap: 1rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;

  display: flex;
  flex-direction: column;
}

#bg-pattern {
  position: fixed;
  inset: 0;
  z-index: -1;
  color: var(--bg-alt);
}

/*
.reduced-motion#bg-pattern svg {
  width: 100%;
  height: 100%;
  animation: none;
}

@media (prefers-reduced-motion: reduce) {
  #bg-pattern svg {
    animation: none;
  }
}
*/

a {
  color: var(--accent);
  font-size: 1rem;
}

button {
  font-family: Georgia, serif;

  background-color: var(--surface);
  color: None;
  border-style: None;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: var(--border);
  height: 1px;
}

p {
  font-family: Georgia, serif;
  color: var(--fg-alt);
}

h1,
h2,
h3,
h4 {
  font-family: "Fraunces", serif;
  color: var(--fg);
  padding-left: 0.5rem;
  border-left: 2px solid var(--border);
}

h2 {
  border-left: 3px solid var(--border);
}

h1 {
  border-left: 3px solid var(--accent);
}

textarea {
  background-color: var(--bg-alt);
  border-style: solid;
  border-color: var(--border);
  color: var(--fg-alt);
  font-family: Georgia, serif;
  width: 70%;
  height: 12rem;
}

.accent {
  color: var(--accent);
}
