*::selection {
  background-color: var(--accent-hover);
}

body {
  background-color: var(--bg);

  color: var(--fg);
  font-family: Georgia, serif;

  gap: 1rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  body {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

a {
  color: var(--accent);
  font-size: 1rem;
}

button {
  font-family: Georgia, serif;

  background-color: var(--surface);
  color: inherit;
  border: none;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;
  background-color: var(--border);
  height: 1px;
}

p {
  font-family: Georgia, serif;
  color: var(--fg-alt);
  padding-left: calc(0.5rem + 3px);
  padding-right: calc(0.5rem + 3px);
}

h1,
h2,
h3,
h4 {
  font-family: "Fraunces", serif;
  color: var(--fg);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-left: 2px solid var(--border);
}

h2 {
  border-left: 3px solid var(--border);
}

h1 {
  border-left: 3px solid var(--accent);
}

textarea {
  background-color: var(--bg-alt);
  border-style: solid;
  border-color: var(--border);
  color: var(--fg-alt);
  font-family: Georgia, serif;
  width: 70%;
  height: 12rem;
}

.icon {
  color: var(--border);
}

.icon:hover {
  color: var(--accent);
}

.hidden {
  display: none !important;
}
