.content-container {
  position: relative;
  background-color: var(--surface);
  padding: 1rem 2rem 1rem 2rem;
  box-shadow: var(--shadow-regular);
}

#image-hero {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-height: 30vh;
  max-width: 100%;
  overflow: hidden;
  min-height: min-content;
}

#image-hero .hero-title-container {
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#image-hero img {
  display: block;
  object-fit: cover;
  object-position: center;
  height: 30vh;
  width: 100%;
}

#content-columns-container {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#content-columns-container > .content-container:last-child:nth-child(odd) {
  grid-column: 1 / -1;
}

#content-columns-container h1,
#content-columns-container h2,
#content-columns-container p {
  text-align: center;
  border: none;
}

@media screen and (max-width: 768px) {
  #content-columns-container {
    grid-template-columns: 1fr !important;
  }

  #image-hero {
    grid-template-columns: 1fr;
  }
}
