#footer hr {
  width: 40%;
}

p.note,
a.note {
  font-size: 0.75rem;
  color: var(--border);
}

#footer div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
