#top-nav {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  width: 100%;
  padding: 1rem 2rem;

  background-color: var(--surface);
}

#nav-element-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#site-title {
  position: relative;
  padding: 0.2rem 0.5rem 0.4rem calc(0.5rem + 3px);
  text-decoration: none;
  transition: border-left-color var(--transition);
}

#site-title:focus-visible,
#site-title:hover {
  border-left-color: transparent;
}

#site-title::before,
#site-title::after {
  content: "";
  position: absolute;
  background: var(--accent);
  left: 0;
}

#site-title::before {
  top: 0;
  width: 3px;
  height: 100%;
  transform-origin: bottom;
  transition: transform var(--transition);
}

#site-title:focus-visible::before,
#site-title:hover::before {
  transform: scaleY(0);
}

#site-title::after {
  bottom: 0;

  width: 0;
  height: 3px;
  transition: width var(--transition);
}

#site-title:focus-visible::after,
#site-title:hover::after {
  width: 100%;
}

#site-title span {
  position: relative;
  z-index: 1;
  font-family: "Fraunces", serif;
  color: var(--fg);
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
}

#site-title:focus-visible span,
#site-title:hover span {
  color: var(--accent-hover);
}

.quick-link {
  font-family: "Inter", sans-serif;
  letter-spacing: 1.5px;
  font-size: 1.1rem;
  display: block;
  position: relative;
  padding: 0.5rem;
  color: var(--fg-alt);
  font-weight: bold;
  text-decoration: none;
  overflow: hidden;
}

.quick-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  height: 0;
  width: 100%;

  background: var(--accent-hover);
  transition: height var(--transition);
  z-index: 0;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.quick-link:focus-visible::after,
.quick-link:hover::after {
  height: 100%;
}

.quick-link span {
  position: relative;
  z-index: 1;
  color: var(--fg-alt);
}

.quick-link:focus-visible span,
.quick-link:hover span {
  color: var(--surface);
}

.quick-link.current span {
  color: var(--accent);
}

.quick-link.current span:focus-visible,
.quick-link.current span:hover {
  color: var(--surface);
}
