<!doctype html>
<html>
  <head>
      {% include head.html %}
  </head>
  <body>
    <div id="bg-pattern">{% include svg/background_tile.svg %}</div>
    {% include navigation.html %}

    <main>
      <div class="content-container" id="image-hero">
        <div class="hero-title-container">
          <h1 id="hero-title"><span>{{ page.hero_title }}</span></h1>
        </div>
        <div class="hero-image-container">
          {% if page.hero_image %}
            <img src="{{ page.hero_image | relative_url }}" alt="{{ page.hero_alt }}">
          {% endif %}
        </div>
      </div>
      <div class="content-container">
          {% if page.author %}
          <p class="note">Written by {{ page.author }} |
          {{ page.date | date_to_long_string }}</p>
          <hr />
          {% endif %}
        {{ content }}
      </div>
    </main>
    {% include footer.html %}
    {% include settings.html %}
  </body>
</html>
