<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script src="/assets/js/theme_toggle.js" defer></script>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
  </head>
  <body>
    <div id="bg-pattern">{% include svg/background_tile.svg %}</div>
    {% include navigation.html %}

    <div class="content-container" id="image-hero">
      <div class="hero-title-container">
        {% include theme_toggle.html %}
        <h1 id="hero-title"><span>{{ page.hero_title }}</span></h1>
      </div>
      <div class="hero-image-container">
        {% if page.hero_image %}
        <img
          src="{{ page.hero_image }}"
          alt="{{ page.hero_alt | default: '' }}"
        />
        {% endif %}
      </div>
    </div>
    <div class="content-container">{{ content }}</div>
    {% include footer.html %}
  </body>
</html>
