<!doctype html>
<html>
    <head>
        <meta name="viewport">
        <meta charset="utf-8">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <script src="/assets/js/theme_toggle.js" defer></script>
        <title>{{ page.title }}</title>
    </head>
    <body> 
        <div id="bg-pattern">
            {% include svg/background_tile.svg %}
        </div>
        {% include navigation.html %} 
        <div class="content-container">
            {% include theme_toggle.html %}
            {{ content }}
        </div>
        {% include footer.html %}
    </body>
</html>
